.container
  .row
    .list-group
      - @brigades.each do |brigade|
        = link_to brigade do
          .list-group-item
            %strong= brigade.name
            .badge.badge-secondary
              = pluralize brigade.brigade_leaders.count, 'Leader'
            .badge.badge-secondary
              = pluralize brigade.brigade_projects.count, 'Project'
