.container
  .row
    - @brigades.each do |brigade|
      .col-4
        .card
          .card-body
            .card-title
              %h3
                = link_to brigade.name, brigade
            .card-text
              %ul
                - brigade.brigade_leaders.each do |l|
                  %li= l.name

              %h4 Projects:
              %ul
                - brigade.brigade_projects.each do |p|
                  %li= p.name
