.container
  .row
    - @brigades.each do |brigade|
      .col-4
        .card
          .card-body
            .card-title
              = brigade.name
            .card-text
              %ul
                - brigade.brigade_leaders.each do |l|
                  %li= l.name
